.listContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  margin-top: 20px;
}
.cheque-table {
  display: flex;
  flex-direction: column;
  width: 98%;
  border: 2px solid lightgray;
}

tr{
  display: flex;
  flex-direction: row;
}

td, th {
  display: flex;
  padding: 7px 3px;
  height: 100%;
  flex: 1.5 1 0;
  flex-basis: 0;
}
tr:nth-child(2n){
  background-color: lightgray;
}
th{
  background-color: #990000;
  font-size: 16px;
  color: white;
}
td:nth-child(-n+2), th:nth-child(-n+2)  {
  flex: 4 1 0;
}
td:last-child, th:last-child  {
  flex: 1 1 0;
}
