.table{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  width: 90%;
}

tr{
  display: flex;
  flex-direction: row;
}

tbody {
  border: 2px solid lightgray;
}

td, th {
  display: flex;
  padding: 7px 3px;
  height: 100%;
  flex: 1;
  align-items: center;
  justify-content: center;
}

tr:nth-child(2n){
  background-color: lightgray;
}

th, thead{
  background-color: #990000;
  font-size: 16px;
  color: white;
  border: 2px solid #990000;
  font-weight: unset;
}

.row:hover {
  background-color: #6D6D6D;
  color: lightgray;
  cursor: pointer;
  
}