.userDetailsModal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 100px;
}

.buttons-right {
  display: flex;
  flex-direction: column;
  float: right;
  align-items: flex-end;
  margin: 30px;
}

.buttons-right > .save-changes-btn {
  height: 40px;
  width: 150px;
}