* {
    margin: 0;
    padding: 0;
}

#mainGrid {
    display: grid;
    grid-template-areas:
        "a b b b"
        "a b b b";
    height: 100vh;
}

#sidebar {
    grid-area: a;
}

#content {
    grid-area: b;
}
