.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    width: 30%;
    min-width: 300px;

}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

}
.submitButton {
  display: flex;
  max-width: 200px;
  justify-content: center;
}
.inputField {
    display: flex;
    border-color: black;
    align-self: center;
    width: 100%;
    box-sizing: border-box;
    font-size: 1em;
}
