#Container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-self: flex-start;
  align-items: center;
  padding: 30px;
}
.NewChequeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
