* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

#mainGrid {
    display: flex;
    flex-direction: row;
}

.NewChequeContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 30px;
  width: 100%;
}
.Container {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 30px;
  height: 100vh;
}
