* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

#mainGrid {
    display: flex;
    flex-direction: row;
}

.NewChequeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
#Container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-self: flex-start;
  align-items: center;
  padding: 30px;
}
